#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
}

.uploaded-img {
  width: 400px;
  object-fit: contain;
}

.img-list {
  width: 100%;
  margin-top: 30px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 40px;
}

.img-item {
  width: 350px;
}

.img-item img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 15px;
}

.submit-btn {
  margin-left: 20px;
}
